header {
	height: 100%;
}

.logo {
	width: 90%;
	margin: 0 auto;
	display: block;
	opacity: 1;

	img {
		width: 100%;
	}
}

.social {
	width: 90%;
	margin: 15px auto;
	font-size: 12px;
	
	.social-link {
		display: inline;
		margin: 0 5px;

		a {
			color: @white;
		}
	
		&.title {
			font-size: 20px;
			color: @white;
		}
	}

	
}

@media screen and (max-width: 768px) {
	header {
		text-align: center;
	}

	.logo {
		width: 65%;
		margin-bottom: 10px;
	}

	.social {
		.social-link {
			font-size: 10px;

			&.title {
				display: none;
			}
		}
	}
}