.main-nav {
	width: 90%;
	margin: 0 auto;

	ul {
		list-style-type: none;

		li {
			padding: 10px 0;
			border-bottom: 1px solid @white;
			background: transparent;
			.lh-transition(background-color 500 linear);


			a {
				width: 100%;
				font-size: 20px;
				color: @white;
				text-decoration: none;
				.lh-opacity(1);
				
			}

			&.active {
				a {
					font-weight: 600;
				}
			}

			&:hover {
				.lh-transition(background-color 500 linear);
				background: @white;

				a {
					color: @blue;
				}
			}
		}
	}

	@media screen and (max-width: 768px) {
		width: 90%;
		margin: 0 auto; 
		display: block;

		ul {
			.clearfix();

			li {
				padding: 0;
				display: inline-block;
				border: none;
				margin-right: 5px;

				a {
					font-size: 20px;
				}

				&:hover {
					background: none;

					a {
						color: @white;
						text-decoration: underline;
					}
				}
			}
		}
	}

	@media screen and (max-width: 400px) {
		ul {
			li {
				a {
					font-size: 16px;
				}
			}
		}
		
	}
}

.episode-nav {
	width: 90%;
	margin: 20px auto 0 auto;

	.next {
		float: left;
	}

	.prev {
		float: right;
	}
}