<article class="episode single">
	{% include 'includes/episode-image' %}

	<div class="episode-full">
		<h1 class="episode-title">{{ post.title }}</h1>
		<span class="episode-number">(No. {{post.meta['episode-number']}})</span>
	</div>
	
	<div class="episode-player">
		<iframe frameborder='0' height='36px' scrolling='no' seamless src='https://simplecast.fm/e/{{post.meta['episode-player-id']}}?style=dark' width='100%'></iframe>
	</div>
		
	<div class="episode-notes editable-content">
		{{post.body}}
	</div>

	<!-- {% include 'includes/episode-sidebar' %} -->

	{% include 'includes/episode-share-bar' %}
</article>
