<div class="secondary">
	<header>
		<a href="#" class="logo"><img src="images/hthap-logo.png" alt=""></a>

		<nav class="main-nav">
			<ul>
				<li><a href="#">Episodes</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Sponsorship</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>

		<ul class="social">
			<li class="social-link"><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
			<li class="social-link"><a href="#"><i class="fa fa-rss fa-2x"></i></a></li>
			<li class="social-link"><a href="#"><i class="fa fa-music fa-2x"></i></a></li>
		</ul>
	</header>
</div>
