<h2 class="episode-sub-hd">You Would Also Like</h2>
<ul class="related">
	{% for related_post in parent.posts %}
	{% for tag in current.taxonomy['tags'].values %}
	{% if related_post.taxonomy['tags'][tag.slug] and related_post.id != current.id %}
	<li class="related-item">
		<a href="{{related_post.url}}">
			<div class="img-container">
				<img src="{{ site.permalink }}{{ related_post.meta['episode-img'] }}" alt="">
			</div>
			<h2>{{related_post.title}}</h2>
			{{ related_post.taxonomy.tags }}
 		</a>
	</li>
	{% break %}
	{% endif %}
	{% endfor %}
	{% if forloop.index == 2 %}{% break %}{% endif %}
	{% endfor %}
</ul>