<html>
    <head>
        <meta charset='UTF-8'>
        <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>

        <title>{% if current.title == 'Home' %}{{ site.title }}{% else %}{{ current.title }} | {{ site.title }}{% endif %}</title>
        <meta name="Author" content="{{ post.author }}">
        <meta name="Description" content="{{site.meta['Description']}}">
        <meta name="Keywords" content="{{site.meta['Keywords']}}">

        <meta name="viewport" content="initial-scale=1">
       
        <link type="application/rss+xml" rel="alternate" title="How to Hold a Pencil" href="{{site.meta['RSS Link']}}">
        
        <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ site.sitemap_url }}" />

        <!-- Main Style -->
            <link rel="stylesheet" href="../../css/style.css">

        <!-- Fonts -->
            <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
            <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,700italic' rel='stylesheet' type='text/css'>

        <!-- Facebook Open Graph Properties -->
            <meta property="og:title" content="{{ site.title }} - {{ current.title }}" />
            <meta property="og:description" content="{{site.meta['Description']}}"/>
            <meta property="og:image" content="{{site.permalink}}{{post.meta['episode-img']}}" />

        <!-- Tugboat FanFinder -->
            <script src="https://bay.tugboatyards.com/js/fan-finder.js"></script>
            <script language='javascript' type='text/javascript'>
            Tugboat.FanFinder.init({ page_id: "12542381" }); // toot! toot!
            </script>

        <!-- Google Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-45311817-1', 'auto');
          ga('send', 'pageview');

        </script>
    </head>

    <body>
       <div class="container">
            <div class="secondary">
                {% include 'includes/header' %}
            </div>
            <div class="primary">
                {{ content }}
            </div>
        </div>
        {% include 'includes/scripts' %}
    </body>
</html>